@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #333333;
}

h3{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #333333;
}

ṕ{
    font-weight: 400;
    color: #333333;
}


a{
    text-decoration: none;
}