.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 100vw;
}

.body h1{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #333333;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

.body form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.body input{
    border: 1px solid WHITE;
    width: 20em;
    height: 2.8rem;
    border-radius: 0.7rem;
    box-shadow: inset 0px 0px 15px -5px #333333b4;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 0.7rem;
}

.body textarea{
    border: 1px solid WHITE;
    width: 24.5em;
    height: 8em;
    border-radius: 0.7rem;
    box-shadow: inset 0px 0px 15px -5px #333333b4;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 0.7rem;
}

.body button{
    margin: 0.7rem;
    width: 7rem;
    font-size: 1.4rem;
    height: 2.8rem;
    border: 1px solid #333333;
    background-color: #333333;
    border-radius: 0.7rem;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.body button:hover{
    background-color: #1f1f1f;
}

.body .buttonVoltar{
    background-color: #6d6d6d;
    color: #fff;
    transition: .2s;
}

.body .buttonVoltar:hover{
    background-color: #5c5c5c;
    color: white;
}